/*
!/game
!/content
/content/*
!/content/dota_addons
/content/dota_addons/*
!/content/dota_addons/kodotag
content/dota_addons/kodotag/materials/overviews/
/game/*
!/game/dota_addons
/game/dota_addons/*
!/game/dota_addons/kodotag
game/dota_addons/kodotag/maps/
game/dota_addons/kodotag/materials/overviews/
game/dota_addons/kodotag/resource/overviews/
game/dota_addons/kodotag/scripts/npc/ImprovedExecutable.class
game/dota_addons/kodotag/scripts/npc/npc_abilities_custom.txt
game/dota_addons/kodotag/scripts/npc/npc_heroes_custom.txt
game/dota_addons/kodotag/scripts/npc/npc_units_custom.txt
game/dota_addons/kodotag/sounds/
game/dota_addons/kodotag/tools_asset_info.bin
game/dota_addons/kodotag/tools_thumbnail_cache.bin